@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a,#3a3a3a);
}
.container{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 2px 10px rgba(113,115,119,0.1);
}
input{
    width: 300px;
    border: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(84,84,84,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #0a0a0a;
}
input::placeholder{
    color: #0a0a0a;
}
button{
    border: 0;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px #000;
    cursor: pointer;
    outline: 1px solid #313131;
    outline-offset: 3px;
}
button:active{
    background-color: #000;
    transform: translate(2px,2px);
}
.equalBtn{
    background-color: #fb7c14;
}
.operator{
    color:orangered;
}
#inputBox{
    border: 2px solid rgb(150,145,145);
    background-color: rgb(198,198,137);
    border-radius: 20px;
    margin-left: 25px;
}
.calculator h1{
    text-align: center;
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}